.comentario {
	position: relative;
	display: table;
	width: 90%;
	margin-left: 80px;
	padding-left: 10px;
	border-color: #a9a9a9;
	border-left: 5px solid;
}
.comentario::before{
	background-color: #fff;
	content: "";
	display: block;
		width: 101%;
		height: 10px;
	position: absolute;
		top: -7px;
		left: -5px;
}
.comentario::after{
	position: absolute;
	top: -20px;
	left: -12px;
	z-index: 1000;
	content: ' \25CF';
	font-size: 30px;
}
.comentario:nth-child(2n){
	border-color: #59a959;
}
.comentario:nth-child(2n)::after{
	color: #59a959;
}
.comentario:nth-child(2n+1){
	border-color: #b9a9c9;
}
.comentario:nth-child(2n+1)::after{
	color: #b9a9c9;
}
.comentario:nth-child(3n){
	border-color: #a95959;
}
.comentario:nth-child(3n)::after{
	color: #a95959;
}
.comentario:nth-child(5n){
	border-color: #a9a959;	
}
.comentario:nth-child(5n)::after{
	color:#a9a959;
}

.comentario.destaque{
	font-size: 1.2em;
	margin-left: 50px;
	padding-left: 40px;
	border-left: 5px solid #5959a9;
	border-bottom: 5px solid #5959a9;
	border-radius: 0 0 0 20px;
}
.comentario.destaque::after{
	content: '\25CF';
	color: #5959a9;
}
